
.text-center{
    font-size: 5em;
}

.glyphicon-envelope {
    font-size: 2em;
    margin-top: 200px;

}
.glyphicon-book {
    font-size: 2em;
    margin-top: 200px;

}

.input_group_addon{
    text-align: center;

}
