

.header{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #542416;
    color: #ffe8d0;
    letter-spacing: 5px;
}

.leftcolumn{
    padding: 20px;
    float: left;
    width: 75%;
}

.rightcolumn{
    padding: 20px;
    float: left;
    width: 25%;

}

.card > p{
    background-color: #bea395;
}

.card > h2{
    font-size: 1.5em;
    font-weight: bold;
}

.image1{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    width: 100%;
    text-align: center;
    background: #462e03;
}

.navbar .in .nav li{
    display: block;
    float: none;
    width: 100%;
}
.navbar.navbar-default {
    background-color: #340a00;
    background-image: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 17px;
}

.Title{
    margin-top: 30px;
}


.card > h2  {

    padding-bottom: 20px;
    color: white;
    background-color: #321409;

}

.card > p {
    margin-top: 50px;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    body{
        letter-spacing: 2px;
        word-spacing: 2px;
    }
}