body{
    font-family: Arial;

    background: #ffe8d0;
}


.header{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #542416;
    color: #ffe8d0;
    letter-spacing: 5px;
}

.leftcolumn{
    padding: 20px;
    float: left;
    width: 75%;
}

.rightcolumn{
    padding: 20px;
    float: left;
    width: 25%;
}

.image1{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    width: 100%;
    text-align: center;
    background: #462e03;
}

.navbar .in .nav li{
    display: block;
    float: none;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}