
.text-center{
    font-size: 5em;
}

.glyphicon-envelope {
    font-size: 2em;
    margin-top: 200px;

}
.glyphicon-book {
    font-size: 2em;
    margin-top: 200px;

}

.input_group_addon{
    text-align: center;

}

.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 0;

}

.navbar-wrapper{
    width: 100%;
}

.emailStaff{
    font-size: 20%;
}

.navbar .navbar-collapse{
    text-align: center;
    font-size: 1.5em;
   background-color: #460c11;
}

.mobileDescription{
    display: none;
}

#footer-copyright{
    font-size: 80%;
}

#logo-main{
    height: 50%;
    width: 50%;
}

#footer-main{
    background-color: #ad7151;
    width: 100%;
}
body{
    background-color: rgb(255, 232, 208);
}
#broadwayFooter
{
    text-align: center;
}
#contactInfo
{
    padding-top: 30px;
}


.Title{
    background-color: #2f0c04;
    color: #edd3b5;
}


.row{
    padding-left: 5%;
}
#mobileOnly
{
    display: none;
}



@media screen and (max-width: 767px){
    #logo-main{
        height: 20%;
        width: 20%;
    }

    .mobileDescription{
        display: block;
    }

    .emailStaff{
        display: none;
    }

    .input_group_addon{
        display: none;
    }


    .navbar-toggle{
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }





    .gl



}



