
.text-center{
    font-size: 5em;
}

.glyphicon-envelope {
    font-size: 2em;
    margin-top: 200px;

}
.glyphicon-book {
    font-size: 2em;
    margin-top: 200px;

}

.input_group_addon{
    text-align: center;

}


.emailStaff{
    font-size: 20%;
}


.mobileDescription{
    display: none;
}



body{
    background-color: rgb(255, 232, 208);
}




.Title{
    background-color: #2f0c04;
    color: #edd3b5;
}


.col-md-6 .row{
    padding-left: 2.5%;
}

#mobileOnly
{
    display: none;
}

.addInfo{
    margin-left: 50px;
    margin-top: 90px;
}



@media screen and (max-width: 767px){

    .mobileDescription{
        display: block;
    }

    .emailStaff{
        display: none;
    }

    .input_group_addon{
        display: none;
    }




}



